* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.wrapper-header {
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(0, 255, 0, 0.6);
}
.header {
    text-align: center;
    background-color: double rgba(0, 255, 0, 0.6) 2.5px;
    color: rgba(0, 255, 0, 0.8);
    padding: 5%;
}
.btn-add {
    font-size: 1.2rem;
    color: green;
    border: 2px solid green;
    border-radius: 12px;
}
.btn-subtract {
    font-size: 1.2rem;
    color: red;
    border: 2px solid red;
    border-radius: 12px;
}
count-wrapper {
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(0, 255, 0, 0.6);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 5;
    align-items: center;
    text-align: center;
    margin: 1%;
    padding: 1.5%;
    border: 3px solid lime;
    border-radius: 12px;
}
.window {
    width: 100%;
    font-size: 3rem;
    font-family: phantasy;
    color: #fff;
    border-radius: 10px;
    border: none;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
